{
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "transform-async-to-generator",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-flow-comments"
  ],
  "presets": [
    "es2015-node4"
  ]
}
