{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ],
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 10
        },
        "useBuiltIns": true
      }
    ]
  ]
}
